---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Saqib Safdar | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Data science specialist with experience in artificial intelligence, digital strategy and education technology. Passionate about using data to drive business growth and innovation.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="Artificial Intelligence, MSc" subtitle="2026 - University of Leeds" />
    <TimeLineElement title="Professional Certificate in Machine Learning and AI" subtitle="2024 - Imperial College Business School" />
    <TimeLineElement title="Postgraduate Diploma in Digital Education" subtitle="2024 - The University of Edinburgh" />
    <TimeLineElement title="PGCE – Post Compulsory Education & Training" subtitle="2004 - The University of Greenwich, London" />
    <TimeLineElement title="Physics, BSc Hons" subtitle="2003 - University College London" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Data Science Specialist – Innovation and Evaluation" subtitle="2023 - Present at London School of Economics and Political Science" />
    <TimeLineElement title="Head of Digital Strategy and Data" subtitle="2022 - 2023 at Education for the 21st Century" />
    <TimeLineElement title="Digital Learning Lead" subtitle="2021 - 2022 at Harris Federation" />
    <TimeLineElement title="Digital Innovation & Learning Lead" subtitle="2019 - 2021 at Star Academies" />
    <TimeLineElement title="Head of eLearning" subtitle="2017 - 2019 at DLD College London" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Introduction to Data Analytics – Career Foundry</li>
    <li>Scrum Master</li>
    <li>Microsoft Certified Educator, MOS Excel, MTA Python, Minecraft Global Mentor, MIE</li>
    <li>Data Quest tracks in Tableau, R and Python</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technical Skills</div>
  </div>

  <ul class="list-disc mx-6 grid gap-2">
    <li>Python, R and SQL</li>
    <li>Tableau Prep, Tableau Desktop and Server</li>
    <li>Microsoft Project, Asana and Jira</li>
    <li>Canvas LMS administration</li>
  </ul>

  <div class="mt-10">
    <a class="btn" href="/Saqib.Safdar.CV.March_25.pdf" target="_blank">Download full CV</a>
  </div>
</BaseLayout>
